@inherits LayoutComponentBase

<div id="app">
    <nav class="navbar">
        <a class="navbar-brand" href="/">🇧🇪 Vat<span class="accent">Be</span></a>
        <span class="navbar-tagline">Belgian VAT Checker</span>
        <nav class="navbar-links">
            <a href="/pricing">Pricing</a>
        </nav>
    </nav>

    <main>
        @Body
    </main>

    <footer class="site-footer">
        <p>
            Powered by <a href="https://ec.europa.eu/taxation_customs/vies/" target="_blank">EU VIES</a>
            &nbsp;·&nbsp;
            <a href="https://github.com/phmatray/VatBe" target="_blank">GitHub</a>
        </p>
    </footer>
</div>
